#restaurant{
 color: beige;
 text-align: center;
 text-decoration: underline beige;
 background-color: rgb(122, 107, 24);
 padding-top: 50px;
}

#par1{
 text-align: center;
 text-decoration: none;
 padding-top: 20px;
 font-size: 20px;
 color: black;
 
}

#par2{
 text-align: center;
 text-decoration: none;
 padding-top: 200px;
 font-size: 20px;
 color: black;
 
 
}



a{
 text-decoration: none;
 color: beige;
}


 a:hover{
  text-decoration: none;
  color: rgb(133, 133, 185);
 }

 .nav-link:hover{
  text-decoration: underline;
  color: brown;
 }

  .nav-link{
  text-decoration: none;
  color: whitesmoke;
 }

 .background-container {
  background-image: url("images/chauffeur\ 2.jpg");
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  height: 500px; /* Define a height for the container */
  display: flex; /* Use flexbox to center the text easily */
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  text-align: center;
}

.background-container:hover{
transform: scale(1.1);
  transition: 0.7s;
}
.card-header{
  background-color: rgb(122, 108, 25);
  color: beige;
}

.class shadow{
  margin-left: 100px;
}

#h3{
  color: rgb(165, 165, 29);
  text-align: center;
  text-decoration: underline;
}

.span{
  text-decoration: underline yellow;
}

#header{
  text-decoration: underline ;
  color: black;
}

#body{
  background-color: antiquewhite;
}

.subtopics{
  text-decoration: underline;
  color: brown;
}

#serviceheader{
  text-align: center;
  text-decoration: underline;
  color: chocolate;
}

.headings{
  text-align: center;
  padding-bottom: 30px;
  color: chocolate;
  text-decoration: underline;
}

.img{
  background-color: gold;
}


.navbar-nav{
  margin-left: 150px;
}
marquee{
  font-weight: 100px;
  font-size: 25px;
  color: brown;
}

#card{
  background-color: rgb(63, 56, 56);
  
}

.pack{
  margin-top: 60px;
  margin-bottom: 60px;
  
}

.h5{
  background-color: black;
  
}

 .event:hover{
    transform: scale(1.1);
    transition: 0.7s;
   }

   .p1{
    font-size: 25px;
    font-weight: 30px;
   }

    .socials{
     border-color: aliceblue;    
   }

    

   .socials:hover{
     filter: brightness(90%) saturate(100%) invert(90%) sepia(55%) saturate(6167%) hue-rotate(356deg);
     
   }

   .form-container{
    background-image: url(images/sun.jpg);
    max-width: 600px;
    width: 100%;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }

   .form-container h2 {
    font-size: 30px;
    color: rgb(51, 26, 26);
   }
   .subtitle{
    font-weight: 500px;
    margin-bottom: 5px;
   }

   
   .form-group {
    width: 100%;
    padding: 12px 14px;
    border-radius: 15px;
    border: 1px solid chocolate;
    font-size: 16px;
    font-family: inherit;
    outline: none;
    transition: 0.3s ease;

   }

   .lumora-btn{
    background: linear-gradient(135deg, #cba75e, #ab7c2d);
    color: white;
    border: none;
    padding: 14px;
    width: 100%;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
   }

   .lumora-btn:hover{
    opacity: 0.9;
    transform: translateY(-2px);
   }
   .form-group input:focus,
   .form-group select:focus,
   .form-group textarea:focus {
    border-color: #b08d57;
    box-shadow: 0 0 5px rgba(135deg, #cba75e, #ab7c2d);
   }

   .form-group{
    margin-bottom: 18px;
   }


   .paragraph{
    background-color: rgb(17, 17, 32); 
    color: wheat;
    text-align: center;
   }
   
   .room{
    background-color: rgb(17, 17, 32); 
    color: wheat;
    text-align: center;
    
   }

    .bold{
    background-color: rgb(17, 17, 32); 
    color: wheat;
    text-align: center;
    
   }

    
   